body{
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans', sans-serif;
}


nav{
    display: flex;
    justify-content: space-around;
}
.nav-text{
    margin-top: 50px;
}
.navh{
    margin-top: 50px;
}
a:link { text-decoration: none; 
    margin: 30px;

}
header{
    background: rgba(255, 144, 14, 0.1);
    padding-top: 0px;
}


/* Banner */

.banner{
    background: rgba(255, 144, 14, 0.1);
    padding-top: 0px;
    margin-top: -70px;
}

.banner-title{
    text-align: center;
    font-weight: 700;
font-size: 64px;
line-height: 75px;
}
.banner-p{
    font-weight: 400px;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
}
.explore{
    margin-left: 870px;
    border: none;
    width: 180px;
height: 64px;
left: 870px;
top: 463px;

background: #FF900E;
border-radius: 8px;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
.explore:hover{background-color: lightcoral;
    border: 5px solid orange;}


.banner-img{
    width: 1440px;
height: 700px;
margin-top: 50px;
   margin-left: 240px;
}

/* team container */

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.feature-container{
    display: flex;
    margin-top: 85px;
    margin-right: 301px;
    margin-left: 301px;
}
.team-text{
    margin-left: 73px;
    margin-top: 187px;
}
.team-title{
    font-weight: 500;
font-size: 45px;
line-height: 53px;

color: #727272;
}
.black{
    color: black;
}
.orange{
    color: #FF900E;
}
.team-btn{
    font-weight: 700;
font-size: 45px;
line-height: 53px;
    width: 180px;
height: 64px;
left: 1082px;
top: 1849px;

background: #FF900E;
border-radius: 8px;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
border: none;
color: #FFFFFF;
}
.team-btn:hover{
    background-color: lightgreen;
    border: 5px solid orange;
}

/* feature you will love */

.feature{
    width: 1440px;
    display: flex;
    margin-top: 130px;
    margin-left: 240px;
}
.ftr-u{
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.feature-title{
    width: 586px;
height: 121px;
left: 240px;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 10px;
margin-top: 10px;
}
.feature-title{
    margin-right: 90px;
}
.feature-image{
    width: 708px;
height: 982px;
left: 972px;
top: 2245px;
}
.btn-10{
    margin-top: -400px;
    margin-left: -50px;
 width: 242px;
height: 130px;
left: 880px;
top: 3104px;
border: none;
background: #FF900E;
border-radius: 8px;
font-style: normal;
font-weight: 700;
font-size: 45px;
color: #FFFFFF;
}
.exp{
font-size: 25px;
line-height: 40px;
}

.btn-10:hover{
    background-color: lightgreen;
    border: 5px solid orange;
}

.ft-p{
    color: #727272;
}

/* feature */
.vl {
    border-left: 6px solid orange;
    height: 110px;
  }
.facts{
    margin-top: 140px;
    margin-left: 250px;
}
.factsf{
    font-weight: 600;
font-size: 45px;
line-height: 53px;
}

.icon{
    align-items: center;
    border: 3px solid orange;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}
.icon:hover{
    color: white;
    background-color: orangered;
}
.icons{
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    
}
/* sponsore */

.sponsores{
    margin-top: 180px;
    text-align: center;
}
.our-sp{
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}

.logo{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.logos{
    
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      
}

/*-------- 
   footer
--------- */
footer{
    height:300px;
    width: 50%;
    margin-left: 25%;
    
}
.footerp{
    margin-top: 150px;
    text-align: center;
    background-color: #FFF4E7;
    padding-top: 39px;
    padding-bottom: 39px;
    
}

/* Media Query */

@media only screen and (max-width:576px) {
   nav{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
.explore{
    margin-left: 20px;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-img{
    width: 100%;
    margin-left: 0px;
}
.team-img{
    display: flex;
    flex-direction: column;
} 
    .feature-container{
        margin: 10px;
        flex-direction: column;
    }
    .feature{
        margin: 0px;
        flex-direction: column;
    }
    .fimage{
        width: 100%;
        margin-left: 0px;
    }
    .btn-10{
        margin-left: 0px;
    }
    .facts{
        margin-left: 0px;
    }
    .icons{
        flex-direction: column;
    }
    .logo{
        flex-direction: column;
        align-items: center;
        gap: 9px;
    }
    .feature-title{
        width: 575px;
    }
}